html, body {
  margin: 0;
  font-family: 'Futura', 'Inter', 'open-sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #011627;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
