html, body {
  margin: 0;
  font-family: 'Futura', 'Inter', 'open-sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth !important;
  background-color: #011627;
  color: #011627;
  opacity: 1;
  background-image: radial-gradient( ellipse farthest-corner at 9px 9px , #021f36, #011322 50%, #011627 50%);
  background-size: 9px 9px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
